.file {
    height: 10vh;
    width: 10vh;
    transition: transform .2s ease-in-out; 
}

.file-svg:hover {
    cursor: pointer;
}

.file:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.file-name-div {
    text-align: center;
    word-wrap:normal;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vh;
}

.window {
    position: absolute;
    z-index: 3;
    visibility: hidden;
    top:64px;
    right: 0;
    width: 100%;
    height: 100%;
}