.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    height: 90%;
    padding-top: 10%;
}

.project-div {
    height: fit-content;
}

.window {
    position: absolute;
    z-index: 3;
    visibility: hidden;
    top:64px;
    right: 0;
    width: 100%;
    height: 100%;
}

.projects-container {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 20px;
    align-content: flex-start;
    min-width: 60vw;
    max-width: 30vw;
}

#info-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: 3px groove #1C6EA4;
    border-radius: 10px;
    background-color: aliceblue;
    text-align: center;
}

b {
    font-weight: bolder;
    font-size: 15px;
}


#home-page-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

#intro-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#intro-img {
    height: 20vh;
}

#intro-text-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#desc-div {
    line-height: 18px;
}

#info-folders-div {
    display: flex;
    flex-direction: row;
}

#info-folders-div:nth-child(1) {
    display: flex;
    flex-direction: column;
}

#info-folders-cursor-div {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}