<div #container class="container">
    <div class="project-div" *ngFor="let project of projects; let id=index;">
        <app-folder
            #folders
            [name]="project.name" 
            [files]="project.files"
            [subFolders]="project.subFolders"
            [links]="project.links"
            >
        </app-folder>
        <!-- <app-window
            #windows
            class="window"
            [width]="300" 
            [height]="150" 
            [left]="50" 
            [top]="50" 
            [active]="false"
            [content]="project1">
        </app-window> -->
    </div>
</div>
