<div #container class="container">
    <div class="project-div" *ngFor="let project of projects; let id=index;">
        <app-folder
            #folders
            [name]="project.name" 
            [files]="project.files"
            [subFolders]="project.subFolders"
            [links]="project.links"
            >
        </app-folder>
    </div>

    <app-window *ngFor="let window of windows$ | async"
        class="window"
        [id]="window.id"
        [width]="window.width" 
        [height]="window.height" 
        [left]="window.left" 
        [top]="window.top" 
        [bounding]="window.bounding"
        [active]="window.active"
        [isFolder]="window.isFolder"
        [folder]="window.folder"
        [file]="window.file">
    </app-window>
</div>
