.container {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.window {
    position: absolute;
    z-index: 2;
    visibility: hidden;
    top:64px;
    right: 0;
    width: 100%;
    height: 100%;
}

.project-div {
    height: fit-content;
}

.window {
    position: absolute;
    z-index: 3;
    visibility: hidden;
    top:64px;
    right: 0;
    width: 100%;
    height: 100%;
}