<div #container class="container">

    <div id="home-page-container">
        <div id="intro-div">
            <img src="../../../assets/images/calvin3.png" id="intro-img">
            <div id="intro-text-div">
                <h1>Hi I'm emile le gallic</h1>
                <div id="desc-div">
                    <p>I'm a computer science engineer student at Télécom Paris</p>
                    <p>I mainly work with Javascript, Typescript, Angular, Ionic, Python and Java</p>
                    <br>
                    <div id="info-folders-div">
                        <div>
                            <p>Here are my projects sorted in <b>folders</b>.</p>
                            <p><b>Click</b> on a folder to learn more about a project</p>
                        </div>
                        <div id="info-folders-cursor-div">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24">
                                <path d="M12.849 24l-3.96-7.853-4.889 4.142v-20.289l16 12.875-6.192 1.038 3.901 7.696-4.86 2.391zm-3.299-10.979l4.194 8.3 1.264-.617-4.213-8.313 4.632-.749-9.427-7.559v11.984l3.55-3.046z"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div id="info-div">
        <p>Here are my projects sorted in <b>folders</b>.</p>
        <p><b>Click</b> on a folder to learn more about a project</p>
    </div> -->

    <div class="projects-container">
        <div class="project-div" *ngFor="let project of projects; let id=index;">
            <app-folder
                #folders
                [name]="project.name" 
                [files]="project.files"
                [subFolders]="project.subFolders"
                [links]="project.links"
                >
            </app-folder>
        </div>
    

    </div>
    <app-window 
        *ngFor="let window of windows$ | async"
        #windows
        class="window"
        [id]="window.id"
        [width]="window.width" 
        [height]="window.height" 
        [left]="window.left" 
        [top]="window.top" 
        [bounding]="window.bounding"
        [active]="window.active"
        [isFolder]="window.isFolder"
        [folder]="window.folder"
        [file]="window.file">
    </app-window>

</div>
