#container {
    border: 2px solid;
    border-color: black;
    transition: opacity .3s;
}

#resize-tool {
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-50%, -50%) rotateZ(45deg);
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent black;
}

#resize-tool:hover {
    cursor: nwse-resize;
}
#resize-tool:active {
    cursor: nwse-resize;
}

#top-bar {
    background-color: black;
    height: 20px;
}

#top-bar:hover {
    cursor: all-scroll;
}

#close-button {
    background-color: red;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#close-button-bar {
    background-color: black;
    width: 11px;
    height: 3px;
}

#close-button:hover {
    cursor: pointer;
}

#content-div {
    padding: 5px;
    height: calc(100% - 30px);
    overflow: scroll;
    background-color: #f7f7f7;
}

#tab-name {
    position: absolute;
    color: white;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}

.folder-content {
    display: flex;
    align-items: center;
    justify-content: center;
}