<div #container 
     [style.visibility]="active ? 'visible' : 'hidden'"
     [style.width.px]="width"
     [style.height.px]="height"
     [style.transform]="'translate3d(' + left + 'px,' + top + 'px,' + '0px)'"
     class="container"
>
    <div 
        id="top-bar" 
        (touchstart)="setDraggingMobile(true, $event)"
        (touchend)="setDraggingMobile(false, $event)"  
        (mousedown)="setDragging(true, $event)" 
        (mouseup)="setDragging(false, $event)">
        <div 
            id="close-button" 
            (touch)="close()"
            (click)="close()">
            <div id="close-button-bar" ></div>
        </div>
    </div>

    <div>
        <p>container</p>
    </div>
    
    <div 
        id="resize-tool" 
        (touchstart)="setResize(true)"
        (touchend)="setResize(false)" 
        (mousedown)="setResize(true)" 
        (mouseup)="setResize(false)">
    </div>
</div>
