<div #container 
     [style.width.px]="width"
     [style.height.px]="height"
     [style.transform]="'translate3d(' + left + 'px,' + top + 'px,' + '0px)'"
     class="container"
>
    <div 
        id="top-bar" 
        (touchstart)="setDraggingMobile(true, $event)"
        (touchend)="setDraggingMobile(false, $event)"  
        (mousedown)="setDragging(true, $event)" 
        (mouseup)="setDragging(false, $event)">
    </div>

    <div>
        <p>container</p>
    </div>
    
    <div id="resize-tool" (mousedown)="setResize(true)" (mouseup)="setResize(false)"></div>
</div>
